@charset "UTF-8";
/*
font-family: 'NanumSquareLight';
font-family: 'NanumSquare';
font-family: 'NanumSquareBold';
font-family: 'NanumSquareExtraBold';
font-family: 'NanumSquareAcb';
font-family: 'NanumSquareAceb';
font-family: 'NanumSquareAcl';
font-family: 'NanumSquareAcr';
*/
/*.event-schedule-area-two {
    margin: 0 auto;
    width: 1240px;
}
*/
.container {
  /*border: 1px solid #333;
  margin: 0 20px;
  max-width: 1200px;*/
}

/* 미디어쿼리 */
@media (max-width: 1960px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    /* max-width: 1200px; */
    max-width: 1240px;
  }
  section {
    margin: 0 auto;
    max-width: 1200px;
  }
  .event-schedule-area-two .section-title {
    max-width: 1000px;
    background-color: #393846;
    padding: 3rem;
    margin: 4rem auto;
    color: #ebebeb;
    font-size: 17px;
    line-height: 33px;
  }
  .event-schedule-area-two .section-title span {
    margin-bottom: 10px;
  }
  .event-schedule-area-two ul.custom-tab {
    justify-content: start;
    border-bottom: 1px solid #dee2e6;
  }
  .event-schedule-area-two ul.custom-tab li {
    width: 18rem;
    position: relative;
  }
  .event-schedule-area-two ul.custom-tab li a {
    color: #252525;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    padding: 20px 0;
    position: relative;
    cursor: pointer;
  }
  .event-schedule-area-two ul.custom-tab li a:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    content: "";
    background: #393846;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .event-schedule-area-two ul.custom-tab li a.active {
    color: #393846;
  }
  .event-schedule-area-two ul.custom-tab li a.active:before {
    width: 100%;
  }
  .event-schedule-area-two .primary-btn {
    margin-top: 40px;
  }
  .event-schedule-area-two .tab-content .line {
    padding-bottom: 0.5rem;
    padding-left: 5rem;
    border-bottom: 1px solid #dee2e6;
  }
  .event-schedule-area-two .tab-content .table {
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
  }
  .event-schedule-area-two .tab-content .table thead tr th {
    padding: 20px;
    border: 0;
  }
  .event-schedule-area-two .tab-content .table tbody {
    background: #fff;
  }
  .event-schedule-area-two .tab-content .table tbody tr {
    border-bottom: 1px solid #dee2e6;
    /*#dee2e6*/
  }
  .event-schedule-area-two .tab-content .table tbody tr th {
    border: 0;
    padding: 30px 20px;
    vertical-align: middle;
  }
  .event-schedule-area-two .tab-content .table tbody tr th .event-date {
    color: #252525;
    text-align: center;
  }
  .event-schedule-area-two .tab-content .table tbody tr th .event-date span {
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;
  }
  .event-schedule-area-two .tab-content .table tbody tr td {
    padding: 80px 100px;
    vertical-align: middle;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .r-no span {
    color: #252525;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a {
    font-size: 32px;
    line-height: 20px;
    text-decoration: none;
    color: #393846;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a:hover {
    color: #757575;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a {
    color: #252525;
    font-size: 16px;
    margin-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a:before {
    content: "\f07b";
    font-family: fontawesome;
    padding-right: 5px;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .time span {
    color: #252525;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a {
    color: #4125dd;
    font-size: 16px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a:hover {
    color: #4125dd;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a:before {
    content: "\f007";
    font-family: fontawesome;
    padding-right: 5px;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .meta > div {
    margin-top: 5px;
    color: #757575;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .primary-btn {
    margin-top: 0;
    text-align: center;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-img {
    width: 15rem;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-img img {
    width: 100%;
    height: 100%;
  }
  td {
    border: none;
  }
  .btn {
    padding: 0.5rem 0.8rem;
    border-radius: 13px;
  }
  .form .period {
    background-color: #09847f;
    margin: 35px auto 80px auto;
    padding: 10px 70px;
    max-width: 800px;
    min-width: 500px;
    font-size: 20px;
  }
  .form .period span {
    color: #fff;
    display: block;
    margin-right: 50px;
  }
  .p-btn {
    border-color: #fff;
    color: #fff;
    padding: 3px 15px;
    font-size: 18px !important;
  }
  .p-btn:hover {
    border-color: #fff;
    background-color: #fff;
    color: #393846;
  }
  .btn-outline-secondary {
    --bs-btn-active-color: #393846;
    --bs-btn-active-bg: #D9D9D9;
    --bs-btn-active-border-color: #D9D9D9;
    --bs-btn-active-shadow: none;
    min-width: 100px;
    font-size: 20px;
  }
  /* 마이페이지 css */
  .cbox {
    margin: 1rem 0;
  }
  .profile {
    border: 1px solid #eee;
    background-color: #eee;
    padding: 2rem;
    text-align: center;
  }
  .pContent {
    height: 9rem;
  }
  .cbox {
    max-width: 600px;
  }
  .profileTop {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #d9d9d9;
  }
  .profileTop p {
    margin-top: 1rem;
    font-size: 18px;
  }
  .profileTop p span {
    display: inline-block;
    margin-top: 0.7rem;
    color: #757575;
  }
  .profileTop p b {
    display: inline-block;
    margin-top: 0.1rem;
    color: #757575;
  }
  .profileBt {
    margin: 1rem;
    font-size: 13px;
  }
  .profileBt img {
    margin-top: 2rem;
  }
  .profileBt a {
    position: relative;
  }
  .profileBt a:after {
    position: absolute;
    content: "";
    background-color: #D9D9D9;
    height: 100%;
    width: 1px;
    right: -8px;
  }
  .profileBt a:last-child::after {
    display: none;
  }
  .btMenu {
    margin: 0 auto;
    width: 10rem;
  }
  .info {
    white-space: nowrap;
    border: 1px solid #eee;
    padding: 5rem 1rem 2rem 1rem;
    position: relative;
    border-radius: 10px;
  }
  /* 라디오 버튼 css
  input[type="radio"] 
  { display: none; } 
  input[type="radio"] + label 
  { font-weight: 400; font-size: 14px; } 
  input[type="radio"] + label span 
  { 
      display: inline-block; 
      width: 18px; 
      height: 18px; 
      margin: -2px 10px 0 0; 
      vertical-align: middle; 
      cursor: pointer; 
      -moz-border-radius: 50%; 
      border-radius: 50%;
      border: 1px solid #393846;
      box-shadow: inset 0 0 0 1px #09847f;
  }

  input[type="radio"] + label span { 
      background-color: transparent;
  } 
  input[type="radio"]:checked + label { 
      color: #333; 
      font-weight: 700; 
  } 

  input[type="radio"]:checked + label span {
      border: none;
      box-shadow: inset 0 0 0 5px #09847f;
  } 

  input[type="radio"] + label span, input[type="radio"]:checked + label span {
      -webkit-transition: box-shadow 0.24s linear; 
      -o-transition: box-shadow 0.24s linear; 
      -moz-transition: box-shadow 0.24s linear; 
      transition: box-shadow 0.24s linear;
  }
  */
  table {
    border-collapse: separate;
    border-spacing: 1rem;
  }
} /*미디어쿼리 max-width 1400px*/
@media (max-width: 700px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    /* max-width: 1200px; */
    max-width: 90rem;
  }
  body .event-schedule-area-two .container .section-title {
    white-space: pre-wrap;
    margin: 4rem auto;
    font-size: 14px;
    max-width: 100%;
  }
  body .event-schedule-area-two .container section {
    max-width: 90%;
  }
  body .event-schedule-area-two .container section .custom-tab {
    height: 3rem;
  }
  body .event-schedule-area-two .container section .custom-tab li {
    width: 7rem;
  }
  body .event-schedule-area-two .container section .custom-tab li a {
    font-size: 15px;
    padding: 0;
  }
  body .event-schedule-area-two .container section .custom-tab li a:before {
    bottom: -23px;
  }
  body .event-schedule-area-two .container section form .period {
    max-width: 100%;
    min-width: 200px;
    padding: 10px 30px;
  }
  body .event-schedule-area-two .container section form .period span {
    font-size: 15px;
    margin-right: 20px;
  }
  body .event-schedule-area-two .container section form .period .p-btn {
    font-size: 13px !important;
    padding: 3px 10px;
    min-width: 40px;
  }
  body .event-schedule-area-two .container section .tab-content .line {
    padding: 1rem 0;
  }
  body .event-schedule-area-two .container section .tab-content table tr {
    flex-flow: column;
    justify-content: space-between;
    height: 50rem;
    padding: 2rem 0;
  }
  body .event-schedule-area-two .container section .tab-content table tr td {
    flex-flow: column;
    padding: 0;
  }
  body .event-schedule-area-two .container section .tab-content table tr td .event-wrap {
    margin-top: 2rem;
  }
  body .event-schedule-area-two .container section .tab-content table tr td .event-wrap h5 {
    white-space: pre-wrap;
  }
}/*# sourceMappingURL=nhstyle.css.map */