p {
  color: #393846;
}

a {
  color: #252525;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1240px !important;
    --bs-gutter-x: 3.24rem !important;
    padding-right: calc(var(--bs-gutter-x) * 0.1) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.1) !important;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.3rem !important;
  }
  .col-xl-4 {
    width: 32% !important;
    height: 34.3rem;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .col-xl-6 {
    width: 73% !important;
  }
  .col-xl-8 {
    width: 64% !important;
    padding-right: 0 !important;
    padding-left: calc(var(--bs-gutter-x) * 1.2) !important;
  }
  h2 {
    font-size: 1.68rem !important;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
html body .main-navbar {
  --bs-navbar-padding-y: 1.9rem !important;
}
html body .main-title {
  padding-top: 3.8rem !important;
}
html body .main-title .my-5 {
  margin-top: 0 !important;
  margin-bottom: 1.5rem !important;
}
html body .main-title .my-5 h1 {
  margin-bottom: 2.5rem;
  line-height: 1.2;
}
html body .main-title .my-5 .fs-3 {
  font-size: 3.21rem !important;
}
html body .main-title .my-5 div .p-2 {
  padding: 0.5rem 3.1rem !important;
}
html body .py-6 {
  padding-top: 6rem !important;
  padding-bottom: 2.1rem !important;
}
html body .py-6 .my-5 {
  margin-top: 0 !important;
  margin-bottom: 1.5rem !important;
}
html body .py-6 .my-5 .row1 {
  --bs-gutter-x: 4rem !important;
}
html body .py-6 .my-5 div h2 {
  margin-bottom: 1.3rem !important;
}
html body .py-6 .my-5 div hr {
  margin: 1rem 0 !important;
  margin-bottom: 1.8rem !important;
}
html body .py-6 .my-5 div .container1 {
  --bs-gutter-x: 3.24rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) 0.5);
  margin-right: auto;
  margin-left: auto;
}
html body .py-6 .my-5 div .container1 div div .green-text {
  color: #09847F;
}
html body .py-6 .my-5 div .container1 div div .lead {
  font-size: 1rem !important;
  font-weight: 600;
}
html body .py-6 .my-5 div .container1 div div .ms-1 {
  margin-left: 2rem !important;
}
html body .py-6 .my-5 div .container1 div div .plus {
  margin-left: 4rem !important;
}
html body .py-6 .my-5 div .container1 div div .plus .mb-0 {
  margin-bottom: 1rem !important;
}
html body .py-6 .my-5 div .container1 div div .plus .mb-6 {
  margin-bottom: 0.5rem !important;
}
html body .py-6 .my-5 div .container1 .p-3 {
  padding: 0 !important;
}
html body .order-tab div .order-pad {
  padding: 3.25rem 2.5rem;
  border-radius: 30px;
  border: 1px solid #757575;
}
html body .order-tab div .order-pad div .order-c {
  margin-right: 4rem;
}
html body .order-tab div .order-pad div .order-c div .mini-title {
  text-align: center;
  font-size: 1.1rem;
  padding: 0.75rem 0;
  background-color: #F3F3F3;
  border-radius: 1.8rem;
  margin-bottom: 2.1rem;
  position: relative;
}
html body .order-tab div .order-pad div .order-c div .mini-title p {
  margin-bottom: 0;
  color: #757575;
}
html body .order-tab div .order-pad div .order-c div table tr td {
  text-align: left !important;
}
html body .order-tab div .order-pad div .order-c div table tr td div {
  margin-bottom: 0.5rem;
}
html body .order-tab div .order-pad div .order-c div table tr td button {
  width: 1.56rem;
  height: 1.56rem;
  margin-bottom: 0.5rem;
}
html body .order-tab div .order-pad div .order-c div table tr td input[type=checkbox] {
  /*display: none;*/
}
html body .order-tab div .order-pad div .order-c div table tr td .seat {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #09847F;
  width: 1.56rem;
  height: 1.56rem;
  border-radius: 0.35rem;
}
html body .order-tab div .order-pad div .order-c div table tr td .seat.active {
  background-color: #09847F;
}
html body .order-tab div .order-pad div .order-c div table tr td .seat.disabled {
  cursor: default;
  border: none;
  background-color: #CDD7D6;
}
html body section div div div .custom-tab {
  justify-content: start;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 30px;
}
html body section div div div .custom-tab li {
  width: 18rem;
  position: relative;
}
html body section div div div .custom-tab li a {
  color: #757575 !important;
  font-size: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  padding: 1.5rem;
  position: relative;
}
html body section div div div .custom-tab li a:hover :before {
  width: 70%;
}
html body section div div div .custom-tab li a:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
  content: "";
  background: #393846;
  width: 0;
  height: 3px;
  transition: all 0.4s;
}
html body section div div div .custom-tab li a.active {
  color: #393846 !important;
  font-weight: 600;
}
html body section div div div .custom-tab li a.active:before {
  width: 100%;
}
html body section div div div div div div table tbody tr td div h3 {
  color: #393846;
  margin-bottom: 1.4rem !important;
  font-weight: 600;
}
html body section div div div div div div table tbody tr td div p {
  font-size: 1.1rem;
  line-height: 180%;
  margin-bottom: 3rem;
}
html body section div div div div div div table tbody tr td div .p1 {
  margin-bottom: 1.5rem;
}
html body section div div div div div div table tbody tr td div .p2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
html body section div div div div div table tbody tr td div h3 {
  color: #393846;
  margin-bottom: 2.3rem !important;
  font-weight: 600;
}
html body section div div div div div table tbody tr td div table tbody tr .table-back {
  background-color: #CDD7D6;
}
html body section div div div div div table tbody tr td div table tbody tr td {
  width: 9%;
}
html body section div div div div div table tbody tr td div table tbody tr td .dosuan {
  margin-top: 3rem;
}
html body section div div div div div table tbody tr td div table tbody tr td p {
  padding: 1.5rem 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  margin-left: 1.6rem;
}
html body section div div div div div table tbody tr td div table tbody tr td .td-p {
  font-weight: bolder;
}
html body section div div div div div table tbody tr td div table tbody tr td .table {
  width: 95%;
  margin-left: 1.6rem;
}
html body section div div div div div table tbody tr td div table tbody tr td .table tbody tr .table-back2 {
  background-color: #D7EBEA;
}
html body section div div div div div table tbody tr td div table tbody tr td .table tbody tr td {
  text-align: center;
}
html body section div div div div div table tbody tr td div table tbody tr td .table tbody tr td p {
  padding: 1.1rem 0;
}
html body section div div div div div table tbody tr td div table tbody tr td .table tbody tr td .taj {
  margin-left: 0;
}/*# sourceMappingURL=order_next.css.map */